.toggle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid #333;
    background-color: #f5f5f5;
    width: 50px;
    height: 25px;
    border-radius: 20px;
}

.toggle__button {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #333;
    position: absolute;
    cursor: pointer;
}


